@import "tailwindcss";

@theme {
  --color-slate-850: #172033;
  --color-slate-950: #020617;
  --font-display: "Inter", sans-serif;
}

/* FILM GRAIN TEXTURE */
.bg-grain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 50;
  opacity: 0.05;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  filter: contrast(170%) brightness(100%);
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}