@import "tailwindcss";

@theme {
  /* We add our custom colors right here in the CSS */
  --color-slate-850: #172033;
  --color-slate-950: #020617;
  
  /* Re-add the radial gradient we wanted */
  --image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
}